/* ------------ GENERAL ---------- */
:root {
  --dark: #111111;
  --light: white;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
}
h2 {
  font-size: 24px;
  margin: 15px 0 8px 0;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* ------ Gestion light/dark mode ------ */
.night {
  background-color: var(--dark);
  color: var(--light);
}
.light {
  background-color: var(--light);
  color: var(--dark);
}

.moon {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: #333333;
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  z-index: 1;
}
.sun {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: black;
  background-color: var(--light);
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  z-index: 1;
}

/* ----------------------------------- */
/* -------------- HEADER ------------- */
/* ----------------------------------- */
header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
}
header img {
  width: 250px;
  height: 100px;
}
header img:hover {
  cursor: pointer;
}

header > div:first-of-type {
  border: 2px solid blue;
  display: flex;
  gap: 50px;
  align-items: center;
}
.headerNav {
  border: 2px solid green;
  display: flex;
  gap: 20px;
}

/* ----------------------------------- */
/* --------------- MAIN -------------- */
/* ----------------------------------- */

/* ----------- PAGE POKEMON ---------- */
.pokeInfo {
  /* border: 3px solid red; */
  display: flex;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke;
}
.pokeInfo > div:first-of-type {
  border: 3px solid coral;
  width: 45%;
}
.pokeInfo > div > img {
  border: 3px solid black;
  width: 100%;
}

.dex {
  border: 3px solid green;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pokeType {
  border: 3px solid blue;
}

.normal {
  background-color: #a0a2a0;
}
.fighting {
  background-color: #fd8101;
}
.flying {
  background-color: #82bbf0;
}
.poison {
  background-color: #923fcc;
}
.ground {
  background-color: #92501c;
}
.rock {
  background-color: #b1aa82;
}
.bug {
  background-color: #92a312;
}
.ghost {
  background-color: #713e71;
}
.steel {
  background-color: #5fa3ba;
}
.fire {
  background-color: #e72425;
}
.water {
  background-color: #2481f0;
}
.grass {
  background-color: #3ca324;
}
.electric {
  background-color: #fac100;
}
.psychic {
  background-color: #ef3e7a;
}
.ice {
  background-color: #3cd9ff;
}
.dragon {
  background-color: #4f60e2;
}
.dark {
  background-color: #4f3f3c;
}
.fairy {
  background-color: #f070f0;
}

/* ----------------------------------- */
/* -------------- FOOTER ------------- */
/* ----------------------------------- */
footer {
  padding: 30px;
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid lightgray;
}

footer a {
  text-decoration: none;
  color: darkgray;
  font-weight: bold;
}
