/* ------------ GENERAL ---------- */
:root {
  --dark: #111111;
  --light: white;
  --darkblue: #6890f0;
  --lightblue: #9db7f5;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
}
h2 {
  font-size: 24px;
  margin: 15px 0 8px 0;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0;
}

/* ------ Gestion light/dark mode ------ */
.night {
  background-color: var(--dark);
  color: var(--light);
}
.light {
  background-color: var(--light);
  color: var(--dark);
}

.moon {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: #333333;
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  z-index: 1;
}
.sun {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: black;
  background-color: var(--light);
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  z-index: 1;
}

/* ----------------------------------- */
/* -------------- HEADER ------------- */
/* ----------------------------------- */
header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
}
header img {
  width: 250px;
  height: 100px;
}
header img:hover {
  cursor: pointer;
}

header > div:first-of-type {
  border: 2px solid blue;
  display: flex;
  gap: 50px;
  align-items: center;
}
.headerNav {
  border: 2px solid green;
  display: flex;
  gap: 20px;
}

/* ----------------------------------- */
/* --------------- MAIN -------------- */
/* ----------------------------------- */

/* ----------- PAGE POKEMON ---------- */
.pokeInfo {
  border: 1px solid darkgray;
  display: flex;
  padding: 20px 0;
  border-radius: 15px;
  background-color: whitesmoke;
  gap: 50px;
  justify-content: center;
  color: black;
}
.pokeInfo > div:first-of-type {
  border: 1px solid darkblue;
  background-color: var(--darkblue);
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}
.pokeInfo > div > img {
  border: 1px solid black;
  width: 98%;
  background-color: #ffffff;
  margin: 5px 0;
  border-radius: 12px;
}

.dex {
  /* border: 1px solid var(--dark); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightblue);
  width: 98%;
  border-radius: 6px;
  margin-top: 4px;
}
.dex > h1 {
  /* border: 1px solid black; */
  display: flex;
  width: 59%;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;
  margin: 3px;
}
.dex > h2 {
  /* border: 1px solid black; */
  width: 39%;
  margin: 3px;
  display: flex;
  justify-content: center;
  height: 90%;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
}

.pokeInfo > div:nth-child(2) {
  border: 1px solid darkblue;
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  border-radius: 18px;
  gap: 6px;
}
.pokeType {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  background-color: var(--lightblue);
  border-radius: 6px;
}
.pokeType > div {
  display: flex;
  gap: 15px;
  background-color: #ffffff;
  width: 99%;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 2px;
  padding: 5px;
}
.pokeType > div > p {
  border: 1px solid lightgray;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 17px;
}
.pokeType > div > p:hover {
  cursor: pointer;
  border: 1px solid black;
}

.normal {
  background-color: #a0a2a0;
}
.fighting {
  background-color: #fd8101;
}
.flying {
  background-color: #82bbf0;
}
.poison {
  background-color: #923fcc;
}
.ground {
  background-color: #92501c;
}
.rock {
  background-color: #b1aa82;
}
.bug {
  background-color: #92a312;
}
.ghost {
  background-color: #713e71;
}
.steel {
  background-color: #5fa3ba;
}
.fire {
  background-color: #e72425;
}
.water {
  background-color: #2481f0;
}
.grass {
  background-color: #3ca324;
}
.electric {
  background-color: #fac100;
}
.psychic {
  background-color: #ef3e7a;
}
.ice {
  background-color: #3cd9ff;
}
.dragon {
  background-color: #4f60e2;
}
.dark {
  background-color: #4f3f3c;
}
.fairy {
  background-color: #f070f0;
}

.pokeStat {
  /* border: 3px solid red; */
  width: 95%;
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}
.pokeStat > div {
  /* border: 3px solid green; */
  display: flex;
  width: 99%;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 2px;
  padding: 5px 0;
}
.pokeStat > div > div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: whitesmoke;
  padding: 3px 5px;
  border-radius: 5px;
}
.statName {
  font-weight: bold;
}

.pokeAbility {
  /* border: 3px solid red; */
  width: 95%;
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}
.pokeAbility > div {
  /* border: 3px solid green; */
  display: flex;
  width: 99%;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 2px;
  padding: 5px 0;
  gap: 25px;
}
.pokeAbility > div > p {
  border: 1px solid lightgray;
  background-color: whitesmoke;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 17px;
}
.pokeAbility > div > p:hover {
  cursor: pointer;
  border: 1px solid black;
}

.pokeMini {
  /* border: 3px solid orange; */
  width: 95%;
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background-color: var(--lightblue);
}
.pokeMini > div {
  /* border: 3px solid yellow; */
  display: flex;
  width: 99%;
  justify-content: center;
  gap: 25px;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 2px;
}
.pokeMini > div > img {
  border: 1px solid black;
  border-radius: 6px;
  background-color: whitesmoke;
  margin: 3px 0;
}

.pokeSize {
  /* border: 3px solid red; */
  width: 95%;
  gap: 2px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}
.pokeSize > div {
  /* border: 3px solid green; */
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  border-radius: 6px;
}
.pokeSize > div > p {
  background-color: #ffffff;
  width: 98%;
  text-align: center;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 17px;
  margin-bottom: 2px;
}

.pokeEv {
  /* border: 3px solid lightgreen; */
  width: 95%;
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}
.pokeEv > div {
  /* border: 3px solid pink; */
  display: flex;
  width: 99%;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 2px;
  padding: 5px 0;
}
.pokeEv > div > div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: whitesmoke;
  padding: 3px 5px;
  border-radius: 5px;
}

/* ----------------------------------- */
/* -------------- FOOTER ------------- */
/* ----------------------------------- */
footer {
  padding: 30px;
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid lightgray;
}

footer a {
  text-decoration: none;
  color: darkgray;
  font-weight: bold;
}
